header {
  width: 100%;
  height: 50px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #141414;
  position: relative;
}

header .icon {
  display: none;
  color: #fff;
  cursor: pointer;
  width: 10%;
  z-index: 100;
}

header .icon i {
  font-size: 20px;
}

header .logo {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo i {
  font-size: 30px;
  color: #fff;
}

header .nav-menu {
  width: 50%;
  -webkit-transition: all 3s;
  transition: all 3s;
}

header .nav-menu .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .nav-menu .navbar a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 6px;
  border-radius: 6px;
  font-weight: 400;
}

header .nav-menu .navbar a:last-child {
  border: 1px solid #fff;
}

header .nav-menu .navbar a.active {
  background-color: #fff;
  color: #141414;
}

header .nav-menu .navbar a:hover {
  background-color: #fff;
  color: #141414;
}

@media screen and (max-width: 959px) {
  header .logo {
    width: 20%;
  }
  header .nav-menu {
    height: calc(100vh - 50px);
    width: 100%;
    position: absolute;
    right: 0;
    top: 50px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: .5s;
    transition: .5s;
    z-index: 300;
    display: none;
  }
  header .nav-menu .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    background-color: #141414;
    padding-top: 50px;
  }
  header .nav-menu .navbar a {
    padding: 20px;
    display: inline-block;
    margin-bottom: 5px;
    width: 80%;
    text-align: center;
    height: 10%;
    color: #fff;
    font-size: 20px;
    -webkit-transition: .8s;
    transition: .8s;
  }
  header .nav-menu .navbar a:hover {
    background-color: #fff;
    color: #141414;
  }
  header .icon {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .nav-menu.active {
    display: block;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=header.css.map */